# Investments Portfolio

In [13]:
!pip install alpha_vantage
!pip install openpyxl
!pip install python-dotenv

Requirement already satisfied: alpha_vantage in /opt/miniconda3/envs/ml-zoomcamp/lib/python3.11/site-packages (3.0.0)
Requirement already satisfied: aiohttp in /opt/miniconda3/envs/ml-zoomcamp/lib/python3.11/site-packages (from alpha_vantage) (3.12.15)
Requirement already satisfied: requests in /opt/miniconda3/envs/ml-zoomcamp/lib/python3.11/site-packages (from alpha_vantage) (2.32.5)
Requirement already satisfied: aiohappyeyeballs>=2.5.0 in /opt/miniconda3/envs/ml-zoomcamp/lib/python3.11/site-packages (from aiohttp->alpha_vantage) (2.6.1)
Requirement already satisfied: aiosignal>=1.4.0 in /opt/miniconda3/envs/ml-zoomcamp/lib/python3.11/site-packages (from aiohttp->alpha_vantage) (1.4.0)
Requirement already satisfied: attrs>=17.3.0 in /opt/miniconda3/envs/ml-zoomcamp/lib/python3.11/site-packages (from aiohttp->alpha_vantage) (24.3.0)
Requirement already satisfied: frozenlist>=1.1.1 in /opt/miniconda3/envs/ml-zoomcamp/lib/python3.11/site-packages (from aiohttp->alpha_vantage) (1.7.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /opt/miniconda3/envs/ml-zoomcamp/lib/python3.11/site-packages (from aiohttp->alpha_vantage) (6.6.4)
Requirement already satisfied: propcache>=0.2.0 in /opt/miniconda3/envs/ml-zoomcamp/lib/python3.11/site-packages (from aiohttp->alpha_vantage) (0.3.2)
Requirement already satisfied: yarl<2.0,>=1.17.0 in /opt/miniconda3/envs/ml-zoomcamp/lib/python3.11/site-packages (from aiohttp->alpha_vantage) (1.20.1)
Requirement already satisfied: idna>=2.0 in /opt/miniconda3/envs/ml-zoomcamp/lib/python3.11/site-packages (from yarl<2.0,>=1.17.0->aiohttp->alpha_vantage) (3.7)
Requirement already satisfied: typing-extensions>=4.2 in /opt/miniconda3/envs/ml-zoomcamp/lib/python3.11/site-packages (from aiosignal>=1.4.0->aiohttp->alpha_vantage) (4.15.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /opt/miniconda3/envs/ml-zoomcamp/lib/python3.11/site-packages (from requests->alpha_vantage) (3.3.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/miniconda3/envs/ml-zoomcamp/lib/python3.11/site-packages (from requests->alpha_vantage) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/miniconda3/envs/ml-zoomcamp/lib/python3.11/site-packages (from requests->alpha_vantage) (2025.8.3)
Requirement already satisfied: openpyxl in /opt/miniconda3/envs/ml-zoomcamp/lib/python3.11/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /opt/miniconda3/envs/ml-zoomcamp/lib/python3.11/site-packages (from openpyxl) (2.0.0)
Collecting python-dotenv
  Downloading python_dotenv-1.1.1-py3-none-any.whl.metadata (24 kB)
Downloading python_dotenv-1.1.1-py3-none-any.whl (20 kB)
Installing collected packages: python-dotenv
Successfully installed python-dotenv-1.1.1

In [9]:
import os
from dotenv import load_dotenv
from alpha_vantage.timeseries import TimeSeries
import pandas as pd

# Load variables from .env file
load_dotenv()

# Get the API key securely
api_key = os.getenv("ALPHAVANTAGE_API_KEY")
ts = TimeSeries(key=api_key, output_format='pandas')

In [6]:
portfolio = pd.read_excel('portfolio.xlsx')
display(portfolio)

  Ativos  Início
0  ITUB4   10000
1  ABEV3   10000
2  VALE3   10000
3  BBDC3   10000

In [ ]:
# Search for the stock symbol
print('Searching for STOCKS')
print(ts.get_symbol_search('itub'))

# Get daily adjusted data for the stock
data, meta_data = ts.get_daily(symbol='ITUB4.SAO', outputsize='full')
display(data)

Searching for STOCKS
(                                1. symbol  \
date
1970-01-01 00:00:00.000000000        ITUB
1970-01-01 00:00:00.000000001  ITUB3F.SAO
1970-01-01 00:00:00.000000002  ITUB4F.SAO
1970-01-01 00:00:00.000000003      ITUBCK
1970-01-01 00:00:00.000000004   ITUB3.SAO
1970-01-01 00:00:00.000000005   ITUB4.SAO

                                                                         2. name  \
date
1970-01-01 00:00:00.000000000                         Itau Unibanco Holding S.A.
1970-01-01 00:00:00.000000001                                             ITUB3F
1970-01-01 00:00:00.000000002                                             ITUB4F
1970-01-01 00:00:00.000000003  Turnaround Strategy Portfolio 20234 Invesco Un...
1970-01-01 00:00:00.000000004                         Itaú Unibanco Holding S.A.
1970-01-01 00:00:00.000000005                          Itaú Unibanco Holding S.A

                                   3. type         4. region 5. marketOpen  \
date
1970-01-01 00:00:00.000000000       Equity     United States         09:30
1970-01-01 00:00:00.000000001       Equity  Brazil/Sao Paolo         10:00
1970-01-01 00:00:00.000000002       Equity  Brazil/Sao Paolo         10:00
1970-01-01 00:00:00.000000003  Mutual Fund     United States         09:30
1970-01-01 00:00:00.000000004       Equity  Brazil/Sao Paolo         10:00
1970-01-01 00:00:00.000000005       Equity  Brazil/Sao Paolo         10:00

                              6. marketClose 7. timezone 8. currency  \
date
1970-01-01 00:00:00.000000000          16:00      UTC-04         USD
1970-01-01 00:00:00.000000001          17:30      UTC-03         BRL
1970-01-01 00:00:00.000000002          17:30      UTC-03         BRL
1970-01-01 00:00:00.000000003          16:00      UTC-04         USD
1970-01-01 00:00:00.000000004          17:30      UTC-03         BRL
1970-01-01 00:00:00.000000005          17:30      UTC-03         BRL

                              9. matchScore
date
1970-01-01 00:00:00.000000000        1.0000
1970-01-01 00:00:00.000000001        0.8000
1970-01-01 00:00:00.000000002        0.8000
1970-01-01 00:00:00.000000003        0.8000
1970-01-01 00:00:00.000000004        0.6667
1970-01-01 00:00:00.000000005        0.6667  , None)

             1. open   2. high    3. low  4. close    5. volume
date
2025-09-26   38.5400   38.8600   38.4900   38.6700   12414500.0
2025-09-25   38.8100   39.0200   38.4700   38.4800   14705600.0
2025-09-24   39.0600   39.1400   38.7100   38.7900   18168400.0
2025-09-23   38.4700   39.2400   38.4700   39.0500   16437000.0
2025-09-22   38.7300   38.8600   38.2800   38.4400   17791300.0
...              ...       ...       ...       ...          ...
2005-01-07  393.0208  397.9968  391.0083  393.4993  129146796.0
2005-01-06  393.9976  399.0132  391.1010  393.9976  372692145.0
2005-01-05  397.9968  400.9995  395.0008  399.0000  863768854.0
2005-01-04  408.0014  408.9983  402.9993  402.9993  421985830.0
2005-01-03  399.4980  409.0115  399.0000  408.0083  105363590.0

[5159 rows x 5 columns]

In [26]:
stock_data = {}
date = '2021-01-05'


for stock in portfolio['Ativos']:
    print(f'Fetching data for {stock}')
    data, meta_data = ts.get_daily(symbol=f'{stock}.SAO', outputsize='full')
    stock_data[stock] = data
    
    portfolio.loc[portfolio['Ativos'] == stock, 'Qntd'] = portfolio.loc[portfolio['Ativos'] == stock, 'Início'].values / data.loc[date, '4. close'].values
    
display(portfolio)
display(stock_data['ITUB4'])

Fetching data for ITUB4

ValueError: We have detected your API key as JKQDVFAKFH4GVB77 and our standard API rate limit is 25 requests per day. Please subscribe to any of the premium plans at https://www.alphavantage.co/premium/ to instantly remove all daily rate limits.